dotfiles/.emacs.d/var
dotfiles/.emacs.d/url
dotfiles/.emacs.d/elpa
dotfiles/.emacs.d/etc
dotfiles/.emacs.d/.last-package-update-day
dotfiles/.emacs.d/config.el
dotfiles/.emacs.d/straight/*
dotfiles/.emacs.d/undo/*
dotfiles/.emacs.d/eshell
dotfiles/.emacs.d/eln-cache
dotfiles/.emacs.d/*.swp
